{% extends 'base.html.twig' %}

{% block title %}{{ page_title }} - WebDev Admin{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-cog"></i> General Configuration</h3>
                <div class="card-tools">
                    <a href="https://derroylo.github.io/reference/webdev_yml/config" target="_blank" class="btn btn-info btn-sm">
                        <i class="fas fa-book"></i> Documentation
                    </a>
                    <a href="{{ path('project_configuration_general_edit') }}" class="btn btn-primary btn-sm">
                        <i class="fas fa-edit"></i> Edit Configuration
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h5>General Settings</h5>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th width="15%">Name</th>
                                    <th width="15%">Key</th>
                                    <th width="15%">Current Value</th>
                                    <th width="15%">Default Value</th>
                                    <th width="40%">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Workspace Folder</td>
                                    <td>config.workspaceFolder</td>
                                    <td>{% if config.config.workspaceFolder is not null %}<code>{{ config.config.workspaceFolder }}</code>{% endif %}</td>
                                    <td>workspaces</td>
                                    <td>The folder where additional workspaces (projects) are located. More info <a href="https://derroylo.github.io/workspaces" target="_blank">here</a>.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12 mt-4">
                        <h5>Proxy Settings</h5>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th width="15%">Name</th>
                                    <th width="15%">Key</th>
                                    <th width="15%">Current Value</th>
                                    <th width="15%">Default Value</th>
                                    <th width="40%">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Domain</td>
                                    <td>config.proxy.domain</td>
                                    <td>{% if config.config.proxy.domain is not null %}<code>{{ config.config.proxy.domain }}</code>{% endif %}</td>
                                    <td>dev.localhost</td>
                                    <td>The domain for the development environment. More info <a href="https://derroylo.github.io/proxy" target="_blank">here</a>.</td>
                                </tr>
                                <tr>
                                    <td>Subdomain</td>
                                    <td>config.proxy.subDomain</td>
                                    <td>{% if config.config.proxy.subDomain is not null %}<code>{{ config.config.proxy.subDomain }}</code>{% endif %}</td>
                                    <td>devcontainer</td>
                                    <td>The subdomain for the development environment. More info <a href="https://derroylo.github.io/proxy" target="_blank">here</a>.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title"><i class="fab fa-node-js"></i> NodeJS Configuration</h3>
                <div class="card-tools">
                    <a href="https://derroylo.github.io/reference/webdev_yml/config" target="_blank" class="btn btn-info btn-sm">
                        <i class="fas fa-book"></i> Documentation
                    </a>
                    <a href="{{ path('project_configuration_nodejs_edit') }}" class="btn btn-primary btn-sm">
                        <i class="fas fa-edit"></i> Edit Configuration
                    </a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="15%">Name</th>
                            <th width="15%">Key</th>
                            <th width="15%">Current Value</th>
                            <th width="15%">Default Value</th>
                            <th width="40%">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>NodeJS Version</td>
                            <td>nodejs.version</td>
                            <td>{% if config.nodejs.version is not null %}<code>{{ config.nodejs.version }}</code>{% endif %}</td>
                            <td>Latest installed version</td>
                            <td>The version of NodeJS to use for the development environment. More info <a href="https://derroylo.github.io/reference/webdev_yml/nodejs" target="_blank">here</a>.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title"><i class="fab fa-php"></i> PHP Configuration</h3>
                <div class="card-tools">
                    <a href="https://derroylo.github.io/reference/webdev_yml/config" target="_blank" class="btn btn-info btn-sm">
                        <i class="fas fa-book"></i> Documentation
                    </a>
                    <a href="{{ path('project_configuration_php_edit') }}" class="btn btn-primary btn-sm">
                        <i class="fas fa-edit"></i> Edit Configuration
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h5>General Settings</h5>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th width="15%">Name</th>
                                    <th width="15%">Key</th>
                                    <th width="15%">Current Value</th>
                                    <th width="15%">Default Value</th>
                                    <th width="40%">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>PHP Version</td>
                                    <td>php.version</td>
                                    <td>{% if config.php.version is not null %}<code>{{ config.php.version }}</code>{% endif %}</td>
                                    <td>Latest installed version</td>
                                    <td>The version of PHP to use for the development environment. More info <a href="https://derroylo.github.io/reference/webdev_yml/php" target="_blank">here</a>.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12 mt-4">
                        <h5>PHP.ini Configuration (Apply to web and cli)</h5>
                        <table class="table table-bordered table-striped">
                            {% if config.php.config is defined and config.php.config|length > 0 %}
                                <thead>
                                    <tr>
                                        <th width="20%">Name</th>
                                        <th width="20%">Value</th>
                                        <th width="60%">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in config.php.config %}
                                        <tr>
                                            <td>{{ key }}</td>
                                            <td><code>{{ value }}</code></td>
                                            <td>Description</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            {% else %}
                                <tr>
                                    <td colspan="2" class="text-center text-muted">No custom PHP configuration set</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>

                    <div class="col-md-12 mt-4">
                        <h5>PHP.ini Web Configuration</h5>
                        <table class="table table-bordered table-striped">
                            {% if config.php.configWeb is defined and config.php.configWeb|length > 0 %}
                                <thead>
                                    <tr>
                                        <th width="20%">Name</th>
                                        <th width="20%">Value</th>
                                        <th width="60%">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in config.php.configWeb %}
                                        <tr>
                                            <td>{{ key }}</td>
                                            <td><code>{{ value }}</code></td>
                                            <td>Description</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            {% else %}
                                <tr>
                                    <td colspan="2" class="text-center text-muted">No custom Web configuration set</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>

                    <div class="col-md-12 mt-4">
                        <h5>PHP.ini CLI Configuration</h5>
                        <table class="table table-bordered table-striped">
                            {% if config.php.configCLI is defined and config.php.configCLI|length > 0 %}
                                <thead>
                                    <tr>
                                        <th width="20%">Name</th>
                                        <th width="20%">Value</th>
                                        <th width="60%">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in config.php.configCLI %}
                                        <tr>
                                            <td>{{ key }}</td>
                                            <td><code>{{ value }}</code></td>
                                            <td>Description</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            {% else %}
                                <tr>
                                    <td colspan="2" class="text-center text-muted">No custom CLI configuration set</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
